body{
    background-color: whitesmoke;
}

*{
    box-sizing: 0px;
    margin: 0px;
    border: 0px;
}

nav{
    background: white;
    height: 75px; 
    box-shadow: 0px 40px 60px -20px grey;
}

.nav-center h4{
    width: 13%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px; 
    color: cornflowerblue;
}

.nav-center h4:hover{
    color: blue;
}

.header-text{
    height: 0px;
    padding-top: 15px;
    margin-left: 25%;
}

.un-List li{
    list-style: none;
}

.un-List li a{
    /* background-color: green; */
    width: 10%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 2px;
}

.un-List li a .simple:hover{
    color: cornflowerblue;
}

.un-List li a .hex:hover{
    color: cornflowerblue;
}

.un-List{
    /* background-color: red; */
    margin-left: 75%;
    width: 10%;
    height: 0%;
}

.navHeadTxt{
    margin-top: 5px;
}

.bgColorTxt h2{
    padding-top: 8px;   
}

.container{
    text-align: center;
}

.bgColorTxt{
    background-color: black;
    text-align: center;
    color: white;
    height: 70px;
    width: 23%;
    margin-left: 38.5%;
    border-radius: 5px;
}

.bgColorTxt span{
    color: cornflowerblue;
}

.container button{
    margin-top: 50px;
}

.centerBody{
    margin-top: 20%;
}

#btn{
    color: black;
    width: 100px;
    height: 40px;
    border: solid 2px black;
    background-color: transparent;
    font-family: sans-serif;
    border-radius: 5px;
}

#btn:hover{
    background-color: peachpuff;
    border: solid 2px black;
    cursor: pointer;
}